<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.CouponMapper">

    <!-- couponUsed, custNo -->
    <select id="insert" parameterType="Coupon">
        INSERT INTO coupon (
            couponNo, adminId, couponRate, couponIsdate,
            couponExdate, couponName
        )
        VALUES (
                   coupon_seq.NextVAL, #{adminId}, #{couponRate}, sysdate,
                   sysdate + 365,
                   #{couponName}
               )
    </select>

    <select id="selectall" resultType="coupon">
        SELECT * FROM coupon
    </select>
</mapper>