<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.GymMapper">
    <!-- 회원번호로 조회 -->
    <select id="select" parameterType="Integer" resultType="gym">
        SELECT * FROM gym WHERE gymNo=#{gymNo}
    </select>
    <!-- 이메일로 조회 -->
    <select id="getmyemail" parameterType="String" resultType="gym">
        SELECT * FROM gym WHERE gymEmail=#{gymEmail}
    </select>
    <!-- 대표계정으로 모든 센터 추출 -->
    <select id="selectall" resultType="gym">
        SELECT * FROM gym WHERE gymMasterCk ='1'
    </select>
    <!-- gymTitle, gymContents, approvedAdmID 추후 등록 -->
    <insert id="insert" parameterType="gym">
        INSERT INTO gym (gymNo, gymMasterCk, gymEmail, gymPwd, gymName, gymPhone, gymZipcode, gymAddress1, gymAddress2, gymAddress3,
                         gymRegiimgname, gymReginumber, gymMarketing, Status, typeNo)
        VALUES (gym_seq.NEXTVAL, '1', #{gymEmail}, #{gymPwd}, #{gymName}, #{gymPhone},
        #{gymZipcode}, #{gymAddress1}, #{gymAddress2}, #{gymAddress3}, #{gymRegiimgname}, #{gymReginumber}, '0', '1', #{typeNo})
    </insert>
    <!-- 회원번호로 gymName, gymPhone, gymZipcode, gymAddress1, gymAddress2, gymAddress3, gymTitle, gymContents, typeNo 업데이트 -->
    <update id="update" parameterType="gym">
        UPDATE gym SET gymName=#{gymName}, gymPhone=#{gymPhone}, gymZipcode=#{gymZipcode},
                       gymAddress1=#{gymAddress1}, gymAddress2=#{gymAddress2}, gymAddress3=#{gymAddress3},
                       gymTitle=#{gymTitle}, gymContents=#{gymContents}, typeNo=#{typeNo}
                       WHERE gymNo=#{gymNo}
    </update>
    <!-- 회원번호로 삭제 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM gym WHERE gymNo=#{gymNo}
    </delete>
    <!--회원번호 이미지 delete -->
    <insert id="deleteimg" parameterType="gym">
        DELETE FROM gymimg WHERE gymNo=#{gymNo}
    </insert>
    <!--회원번호 이미지 insert -->
    <insert id="insertimg" parameterType="gym">
        INSERT INTO gymimg (gymImgNo, gymNo, gymMasterCk, gymImgname, gymImgdetailCk)
        VALUES (GymImg_seq.NEXTVAL, #{gymNo}, #{gymMasterCk}, #{gymImgname}, #{gymImgdetailCk})
    </insert>
</mapper>