<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.TicketMapper">

<!--    <insert id="insert" parameterType="ticket">-->
<!--        INSERT INTO ticket VALUES (ticket_seq.NextVAL, TO_NUMBER(#{gymNo}), #{gymMasterCk}, #{ticketType},-->
<!--                                   #{ticketMonth}, #{ticketNumber}, #{ticketJoin}, #{ticketTotal},-->
<!--                                   #{ticketSales}, #{ticketCost}, #{ticketDiscount},-->
<!--                                   #{ticketCost} * (1-#{ticketDiscount} / 100), #{ticketImgname}, #{sportsType}, #{sportsClasstype})-->
<!--    </insert>-->
    <insert id="insert" parameterType="ticket">
        INSERT INTO ticket VALUES (ticket_seq.NextVAL, #{gymNo}, #{gymMasterCk},
                                   CASE WHEN #{ticketType} = '1' THEN '기간권 ' || #{ticketMonth} || '개월'
                                        WHEN #{ticketType} = '2' THEN '횟수권 ' || #{ticketNumber} || '회'
                                        ELSE '기타' END,
                                   #{ticketType},
                                   #{ticketMonth}, #{ticketNumber}, #{ticketJoin}, #{ticketTotal},
                                   #{ticketSales}, #{ticketCost}, #{ticketDiscount},
                                   #{ticketCost} * (1 - #{ticketDiscount} / 100), #{ticketImgname},
                                   #{sportsType}, #{sportsClasstype}
                                   )
    </insert>

    <select id="select" parameterType="Integer" resultType="ticket">
        SELECT * FROM ticket WHERE ticketNo=#{ticketNo}
    </select>

    <select id="selectall" resultType="ticket">
        SELECT * FROM ticket
    </select>

    <update id="update" parameterType="ticket">
        UPDATE ticket
        SET ticketType=#{ticketTpye}, ticketMonth=#{ticketMonth}, ticketNumber=#{ticketNumber}
            , ticketJoin=#{ticketJoin}, ticketTotal=#{ticketTotal}, ticketSales=#{ticketSales}
            , ticketCost=#{ticketCost}, ticketDiscount=#{ticketDiscount}, ticketPrice = (#{ticketCost} * (1-#{ticketDiscount} / 100))
            , ticketImgname=#{ticketImgname}, sportsType=#{sportsType}, sportsClasstype=#{sportsClasstype}
        WHERE ticketNo=#{ticketNo}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM ticket WHERE ticketNo=#{ticketNo}
    </delete>

</mapper>